body {
  background-color: azure;
  text-align: center;
  display: block;
}
h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #08a1a7;
  text-shadow: darkturquoise;
}

label {
  font-size: 25px;
}
button {
  color: rgb(238, 239, 245);
  background-color: rgb(4, 120, 124);
  margin: 2px;
  border-radius: 25px;
  font-size: 30px;
}
button:hover {
  background-color: rgb(8, 79, 87);
}
